body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0px auto;
}
#container h1 {
    font-size: 20px;
}